<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">

  <form th:action="@{/admin/category/create}" method="post" th:object="${category}">
      <h2>Category Information</h2>
    <hr>
      <input th:field="*{id}" hidden="">
      <div class="mb-3">
          <label class="form-label">Category Name :</label>
          <input class="form-control" style="width: 300px" type="text" placeholder="enter category name" th:field="*{name}">
      </div>
      <div class="mb-3">
          <label class="form-label">Category Name Khmer :</label>
          <input class="form-control" style="width: 300px" type="text" placeholder="enter category KH name" th:field="*{name_kh}">
      </div>

      <button class="btn btn-success">Conform</button>
      <a th:href="@{/admin/category/list}" class="btn btn-danger" style="margin-left: 50px">Back</a>

  </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>