<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Category</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="card">
        <div class="card-header">
            <h2>List All Category</h2>
        </div>
        <div class="card-body">
            <a th:href="@{/admin/category/create}" class="btn btn-primary pull-right">Create New</a>
            <table class="table table-bordered" style="margin-top: 20px">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Name_KH</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <td th:text="${category.getId()}"></td>
                    <td th:text="${category.getName()}"></td>
                    <td th:text="${category.getName_kh()}"></td>
                    <td th:text="${category.getStatus()}"></td>
                    <td >
                        <a th:href="@{/admin/category/edit/{id}(id=${category.getId})}" class="btn btn-warning btn-sm">Edit</a>
                        <a th:href="@{/admin/category/delete/{id}(id=${category.getId})}" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>